**Manning LIVEPROJECT - How to think about manipulating Data**

*1.Reading in and Cleaning the Data*

In [1]:
import pandas as pd

In [2]:
# read HTML table from url
list_of_df = pd.read_html('https://en.wikipedia.org/wiki/NBA_All-Star_Game', match='Host city')
df = list_of_df[0]
df.shape

(74, 5)

In [3]:
# Cleaning data

#find canceled rows
df[df['Result'].str.contains('Canceled')]

,Year,Result,Host arena,Host city,Game MVP
48,1999,Canceled due to the league's lockout.The game ...,Canceled due to the league's lockout.The game ...,Canceled due to the league's lockout.The game ...,Canceled due to the league's lockout.The game ...

In [4]:
# drop canceled rows
df = df.drop(index=[48,70])
df = df.dropna(how='any')
df.shape

(69, 5)

In [5]:
# print DataFrame

# set option to be able to print the complete DataFrame
pd.set_option('display.max_rows', len(df))

# print
df.head(len(df))

,Year,Result,Host arena,Host city,Game MVP
0,1951,"East 111, West 94",Boston Garden,"Boston, Massachusetts","Ed Macauley, Boston Celtics"
1,1952,"East 108, West 91",Boston Garden (2),"Boston, Massachusetts (2)","Paul Arizin, Philadelphia Warriors"
2,1953,"West 79, East 75",Allen County War Memorial Coliseum,"Fort Wayne, Indiana","George Mikan, Minneapolis Lakers"
3,1954,"East 98, West 93 (OT)",Madison Square Garden III**,"New York City, New York","Bob Cousy, Boston Celtics"
4,1955,"East 100, West 91",Madison Square Garden III** (2),"New York City, New York (2)","Bill Sharman, Boston Celtics"
5,1956,"West 108, East 94",Rochester War Memorial Coliseum,"Rochester, New York","Bob Pettit, St. Louis Hawks"
6,1957,"East 109, West 97",Boston Garden (3),"Boston, Massachusetts (3)","Bob Cousy (2), Boston Celtics"
7,1958,"East 130, West 118",St. Louis Arena,"St. Louis, Missouri","Bob Pettit (2), St. Louis Hawks"
8,1959,"West 124, East 108",Olympia Stadium,"Detroit, Michigan","Elgin Baylor, Minneapolis LakersBob Pettit (3)..."
9,1960,"East 125, West 115",Convention Hall,"Philadelphia, Pennsylvania","Wilt Chamberlain, Philadelphia Warriors"
10,1961,"West 153, East 131",Onondaga County War Memorial Coliseum,"Syracuse, New York","Oscar Robertson, Cincinnati Royals"
11,1962,"West 150, East 130",St. Louis Arena (2),"St. Louis, Missouri (2)","Bob Pettit (4), St. Louis Hawks"
12,1963,"East 115, West 108",LA Sports Arena,"Los Angeles, California","Bill Russell, Boston Celtics"
13,1964,"East 111, West 107",Boston Garden (4),"Boston, Massachusetts (4)","Oscar Robertson (2), Cincinnati Royals"
14,1965,"East 124, West 123",St. Louis Arena (3),"St. Louis, Missouri (3)","Jerry Lucas, Cincinnati Royals"
15,1966,"East 137, West 94",Cincinnati Gardens,"Cincinnati, Ohio","Adrian Smith, Cincinnati Royals"
16,1967,"West 135, East 120",Cow Palace,"Daly City, California","Rick Barry, San Francisco Warriors"
17,1968,"East 144, West 124",Madison Square Garden III** (3),"New York City, New York (3)","Hal Greer, Philadelphia 76ers"
18,1969,"East 123, West 112",Baltimore Civic Center,"Baltimore, Maryland","Oscar Robertson (3), Cincinnati Royals"
19,1970,"East 142, West 135",The Spectrum,"Philadelphia, Pennsylvania (2)","Willis Reed, New York Knicks"
20,1971,"West 108, East 107",San Diego Sports Arena,"San Diego, California","Lenny Wilkens, Seattle SuperSonics"
21,1972,"West 112, East 110",The Forum,"Inglewood, California","Jerry West, Los Angeles Lakers"
22,1973,"East 104, West 84",Chicago Stadium,"Chicago, Illinois","Dave Cowens, Boston Celtics"
23,1974,"West 134, East 123",Seattle Center Coliseum,"Seattle, Washington","Bob Lanier, Detroit Pistons"
24,1975,"East 108, West 102",Arizona Veterans Memorial Coliseum,"Phoenix, Arizona","Walt Frazier, New York Knicks"
25,1976,"East 123, West 109",The Spectrum (2),"Philadelphia, Pennsylvania (3)","Dave Bing, Washington Bullets"
26,1977,"West 125, East 124",Milwaukee Arena,"Milwaukee, Wisconsin","Julius Erving, Philadelphia 76ers"
27,1978,"East 133, West 125",Omni Coliseum,"Atlanta, Georgia","Randy Smith, Buffalo Braves"
28,1979,"West 134, East 129",Pontiac Silverdome,"Pontiac, Michigan†","David Thompson, Denver Nuggets"
29,1980,"East 144, West 136 (OT)",Capital Centre,"Landover, Maryland","George Gervin, San Antonio Spurs"
30,1981,"East 123, West 120",Coliseum at Richfield,"Richfield, Ohio","Nate Archibald, Boston Celtics"
31,1982,"East 120, West 118",Brendan Byrne Arena,"East Rutherford, New Jersey","Larry Bird, Boston Celtics"
32,1983,"East 132, West 123",The Forum (2),"Inglewood, California (2)","Julius Erving (2), Philadelphia 76ers"
33,1984,"East 154, West 145 (OT)",McNichols Sports Arena,"Denver, Colorado","Isiah Thomas, Detroit Pistons"
34,1985,"West 140, East 129",Hoosier Dome,"Indianapolis, Indiana†","Ralph Sampson, Houston Rockets"
35,1986,"East 139, West 132",Reunion Arena,"Dallas, Texas","Isiah Thomas (2), Detroit Pistons"
36,1987,"West 154, East 149 (OT)",Kingdome,"Seattle, Washington† (2)","Tom Chambers, Seattle SuperSonics"
37,1988,"East 138, West 133",Chicago Stadium (2),"Chicago, Illinois (2)","Michael Jordan, Chicago Bulls"
38,1989,"West 143, East 134",Astrodome,"Houston, Texas†","Karl Malone, Utah Jazz"
39,1990,"East 130, West 113",Miami Arena,"Miami, Florida","Magic Johnson, Los Angeles Lakers"
40,1991,"East 116, West 114",Charlotte Coliseum,"Charlotte, North Carolina","Charles Barkley, Philadelphia 76ers"
41,1992,"West 153, East 113",Orlando Arena§,"Orlando, Florida","Magic Johnson (2), Los Angeles Lakers"
42,1993,"West 135, East 132 (OT)",Delta Center§,"Salt Lake City, Utah","Karl Malone (2), Utah JazzJohn Stockton, Utah ..."
43,1994,"East 127, West 118",Target Center,"Minneapolis, Minnesota","Scottie Pippen, Chicago Bulls"
44,1995,"West 139, East 112",America West Arena§,"Phoenix, Arizona (2)","Mitch Richmond, Sacramento Kings"
45,1996,"East 129, West 118",Alamodome,"San Antonio, Texas","Michael Jordan (2), Chicago Bulls"
46,1997,"East 132, West 120",Gund Arena§,"Cleveland, Ohio","Glen Rice, Charlotte Hornets"
47,1998,"East 135, West 114",Madison Square Garden***,"New York City, New York (4)","Michael Jordan (3), Chicago Bulls"
49,2000,"West 137, East 126",The Arena in Oakland,"Oakland, California","Tim Duncan, San Antonio SpursShaquille O'Neal,..."
50,2001,"East 111, West 110",MCI Center,"Washington, D.C.","Allen Iverson, Philadelphia 76ers"
51,2002,"West 135, East 120",First Union Center,"Philadelphia, Pennsylvania (4)","Kobe Bryant, Los Angeles Lakers"
52,2003,"West 155, East 145 (2OT)",Philips Arena§,"Atlanta, Georgia (2)","Kevin Garnett, Minnesota Timberwolves"
53,2004,"West 136, East 132",Staples Center,"Los Angeles, California (2)","Shaquille O'Neal (2), Los Angeles Lakers"
54,2005,"East 125, West 115",Pepsi Center,"Denver, Colorado (2)","Allen Iverson (2), Philadelphia 76ers"
55,2006,"East 122, West 120",Toyota Center,"Houston, Texas (2)","LeBron James, Cleveland Cavaliers"
56,2007,"West 153, East 132",Thomas & Mack Center,"Paradise, Nevada*","Kobe Bryant (2), Los Angeles Lakers"
57,2008,"East 134, West 128",New Orleans Arena§,"New Orleans, Louisiana","LeBron James (2), Cleveland Cavaliers"
58,2009,"West 146, East 119",US Airways Center (2),"Phoenix, Arizona (3)","Kobe Bryant (3), Los Angeles LakersShaquille O..."
59,2010,"East 141, West 139",Cowboys Stadium,"Arlington, Texas#†","Dwyane Wade, Miami Heat"
60,2011,"West 148, East 143",Staples Center (2),"Los Angeles, California (3)","Kobe Bryant (4), Los Angeles Lakers"
61,2012,"West 152, East 149",Amway Center (2),"Orlando, Florida (2)","Kevin Durant, Oklahoma City Thunder"
62,2013,"West 143, East 138",Toyota Center (2),"Houston, Texas (3)","Chris Paul, Los Angeles Clippers"
63,2014,"East 163, West 155",Smoothie King Center (2),"New Orleans, Louisiana (2)","Kyrie Irving, Cleveland Cavaliers"
64,2015,"West 163, East 158",Madison Square Garden (2)*** / Barclays Center,"New York City, New York (5)","Russell Westbrook, Oklahoma City Thunder"
65,2016,"West 196, East 173",Air Canada Centre,"Toronto, Ontario","Russell Westbrook (2), Oklahoma City Thunder"
66,2017,"West 192, East 182",Smoothie King Center (3),"New Orleans, Louisiana (3)","Anthony Davis, New Orleans Pelicans"
67,2018[5],"Team LeBron 148, Team Stephen 145",Staples Center (3),"Los Angeles, California (4)","LeBron James (3), Cleveland Cavaliers"
68,2019,"Team LeBron 178, Team Giannis 164",Spectrum Center,"Charlotte, North Carolina (2)","Kevin Durant (2), Golden State Warriors"
69,2020,"Team LeBron 157, Team Giannis 155‡",United Center,"Chicago, Illinois (3)","Kawhi Leonard, Los Angeles Clippers"

*2. Keeping only data of interest*

In [6]:
# selecting columns
df2  = df[['Year', 'Result', 'Host city']].copy()

In [7]:
# result column shall have type object/string
df2['Result'] = df2['Result'].astype('str')

In [8]:
# set Year as index
df2.index = df2['Year']

In [9]:
df2['Host city'] = df2['Host city'].astype('str')

In [10]:
df2.reindex()
new = df2['Host city'].str.split(',',n=1, expand=True)
df2['Host city'] = new[0]

In [11]:
df2.drop(columns=['Year'], inplace = True)

In [12]:
# print data frame
df2

                                     Result        Host city
Year
1951                      East 111, West 94           Boston
1952                      East 108, West 91           Boston
1953                       West 79, East 75       Fort Wayne
1954                  East 98, West 93 (OT)    New York City
1955                      East 100, West 91    New York City
1956                      West 108, East 94        Rochester
1957                      East 109, West 97           Boston
1958                     East 130, West 118        St. Louis
1959                     West 124, East 108          Detroit
1960                     East 125, West 115     Philadelphia
1961                     West 153, East 131         Syracuse
1962                     West 150, East 130        St. Louis
1963                     East 115, West 108      Los Angeles
1964                     East 111, West 107           Boston
1965                     East 124, West 123        St. Louis
1966                      East 137, West 94       Cincinnati
1967                     West 135, East 120        Daly City
1968                     East 144, West 124    New York City
1969                     East 123, West 112        Baltimore
1970                     East 142, West 135     Philadelphia
1971                     West 108, East 107        San Diego
1972                     West 112, East 110        Inglewood
1973                      East 104, West 84          Chicago
1974                     West 134, East 123          Seattle
1975                     East 108, West 102          Phoenix
1976                     East 123, West 109     Philadelphia
1977                     West 125, East 124        Milwaukee
1978                     East 133, West 125          Atlanta
1979                     West 134, East 129          Pontiac
1980                East 144, West 136 (OT)         Landover
1981                     East 123, West 120        Richfield
1982                     East 120, West 118  East Rutherford
1983                     East 132, West 123        Inglewood
1984                East 154, West 145 (OT)           Denver
1985                     West 140, East 129     Indianapolis
1986                     East 139, West 132           Dallas
1987                West 154, East 149 (OT)          Seattle
1988                     East 138, West 133          Chicago
1989                     West 143, East 134          Houston
1990                     East 130, West 113            Miami
1991                     East 116, West 114        Charlotte
1992                     West 153, East 113          Orlando
1993                West 135, East 132 (OT)   Salt Lake City
1994                     East 127, West 118      Minneapolis
1995                     West 139, East 112          Phoenix
1996                     East 129, West 118      San Antonio
1997                     East 132, West 120        Cleveland
1998                     East 135, West 114    New York City
2000                     West 137, East 126          Oakland
2001                     East 111, West 110       Washington
2002                     West 135, East 120     Philadelphia
2003               West 155, East 145 (2OT)          Atlanta
2004                     West 136, East 132      Los Angeles
2005                     East 125, West 115           Denver
2006                     East 122, West 120          Houston
2007                     West 153, East 132         Paradise
2008                     East 134, West 128      New Orleans
2009                     West 146, East 119          Phoenix
2010                     East 141, West 139        Arlington
2011                     West 148, East 143      Los Angeles
2012                     West 152, East 149          Orlando
2013                     West 143, East 138          Houston
2014                     East 163, West 155      New Orleans
2015                     West 163, East 158    New York City
2016                     West 196, East 173          Toronto
2017                     West 192, East 182      New Orleans
2018[5]   Team LeBron 148, Team Stephen 145      Los Angeles
2019      Team LeBron 178, Team Giannis 164        Charlotte
2020     Team LeBron 157, Team Giannis 155‡          Chicago

In [13]:
# Defining some functions to extract East and West scores

def get_east(colstr):
    work = str(colstr).strip()
    if (work.startswith("East")):
        east_value_str = ((work.split(',')[0]).split()[1]).strip()
        return float(east_value_str)
    elif (work.startswith("West")):
        east_value_str = ((work.split(',')[1]).split()[1]).strip()
        return float(east_value_str)
    return 0

def get_west(colstr):
    work = str(colstr).strip()
    if (work.startswith("West")):
        east_value_str = ((work.split(',')[0]).split()[1]).strip()
        return float(east_value_str)
    elif (work.startswith("East")):
        east_value_str = ((work.split(',')[1]).split()[1]).strip()
        return float(east_value_str)
    return 0

# ok - here I was to lazy to refactor ;-)

In [14]:
# adding new columns with score values
df2["East"] = df2["Result"].apply(get_east)
df2["West"] = df2["Result"].apply(get_west)

In [15]:
# remove the former result column
df2.drop(columns=['Result'], inplace = True)

In [16]:
df2

               Host city   East   West
Year
1951              Boston  111.0   94.0
1952              Boston  108.0   91.0
1953          Fort Wayne   75.0   79.0
1954       New York City   98.0   93.0
1955       New York City  100.0   91.0
1956           Rochester   94.0  108.0
1957              Boston  109.0   97.0
1958           St. Louis  130.0  118.0
1959             Detroit  108.0  124.0
1960        Philadelphia  125.0  115.0
1961            Syracuse  131.0  153.0
1962           St. Louis  130.0  150.0
1963         Los Angeles  115.0  108.0
1964              Boston  111.0  107.0
1965           St. Louis  124.0  123.0
1966          Cincinnati  137.0   94.0
1967           Daly City  120.0  135.0
1968       New York City  144.0  124.0
1969           Baltimore  123.0  112.0
1970        Philadelphia  142.0  135.0
1971           San Diego  107.0  108.0
1972           Inglewood  110.0  112.0
1973             Chicago  104.0   84.0
1974             Seattle  123.0  134.0
1975             Phoenix  108.0  102.0
1976        Philadelphia  123.0  109.0
1977           Milwaukee  124.0  125.0
1978             Atlanta  133.0  125.0
1979             Pontiac  129.0  134.0
1980            Landover  144.0  136.0
1981           Richfield  123.0  120.0
1982     East Rutherford  120.0  118.0
1983           Inglewood  132.0  123.0
1984              Denver  154.0  145.0
1985        Indianapolis  129.0  140.0
1986              Dallas  139.0  132.0
1987             Seattle  149.0  154.0
1988             Chicago  138.0  133.0
1989             Houston  134.0  143.0
1990               Miami  130.0  113.0
1991           Charlotte  116.0  114.0
1992             Orlando  113.0  153.0
1993      Salt Lake City  132.0  135.0
1994         Minneapolis  127.0  118.0
1995             Phoenix  112.0  139.0
1996         San Antonio  129.0  118.0
1997           Cleveland  132.0  120.0
1998       New York City  135.0  114.0
2000             Oakland  126.0  137.0
2001          Washington  111.0  110.0
2002        Philadelphia  120.0  135.0
2003             Atlanta  145.0  155.0
2004         Los Angeles  132.0  136.0
2005              Denver  125.0  115.0
2006             Houston  122.0  120.0
2007            Paradise  132.0  153.0
2008         New Orleans  134.0  128.0
2009             Phoenix  119.0  146.0
2010           Arlington  141.0  139.0
2011         Los Angeles  143.0  148.0
2012             Orlando  149.0  152.0
2013             Houston  138.0  143.0
2014         New Orleans  163.0  155.0
2015       New York City  158.0  163.0
2016             Toronto  173.0  196.0
2017         New Orleans  182.0  192.0
2018[5]      Los Angeles    0.0    0.0
2019           Charlotte    0.0    0.0
2020             Chicago    0.0    0.0

In [17]:
# remove rows with 0 score values using a query
query = ((df2['East']) > 0.0)
df2 = df2.loc[query,["East", "West", "Host city"]]

In [18]:
# print data frame
df2.head(7)

       East   West      Host city
Year
1951  111.0   94.0         Boston
1952  108.0   91.0         Boston
1953   75.0   79.0     Fort Wayne
1954   98.0   93.0  New York City
1955  100.0   91.0  New York City
1956   94.0  108.0      Rochester
1957  109.0   97.0         Boston

*3 Getting counts*

In [19]:
df3 = df2.copy()

In [20]:
# adding Diff column
df3["Diff"] = abs(df3["East"] - df3["West"])

In [21]:
df3 = df3.groupby("Diff").agg({"Diff": "count"})

In [22]:
df3.rename(columns={"Diff" : "Count"},inplace=True)

In [23]:
df3.sort_values(by="Count",inplace=True, ascending=False)

In [24]:
df3.head(8)

      Count
Diff
5.0       7
9.0       5
2.0       5
11.0      5
1.0       4
10.0      4
20.0      3
17.0      3

*4. Filtering and Grouping Data*

In [25]:
df4 = df2.copy()

In [26]:
# remove year from index
df4.reset_index(drop=True, inplace=True)

In [27]:
# Grouping by host city and renaming host city to count
df4 = df4.groupby("Host city").agg({"East":"mean", "West":"mean", "Host city":"count"})
df4.rename(columns={"Host city" : "Count"}, inplace=True)
df4.sort_values(by="Count",inplace=True)

In [28]:
# filter regarding count >=2
query_count_gt2 = (df4["Count"] >= 2)
df4 = df4.loc[query_count_gt2]

In [29]:
#print DataFrame
df4

                     East        West  Count
Host city
Atlanta        139.000000  140.000000      2
Seattle        136.000000  144.000000      2
Chicago        121.000000  108.500000      2
Inglewood      121.000000  117.500000      2
Orlando        131.000000  152.500000      2
Denver         139.500000  130.000000      2
Houston        131.333333  135.333333      3
New Orleans    159.666667  158.333333      3
St. Louis      128.000000  130.333333      3
Los Angeles    130.000000  130.666667      3
Phoenix        113.000000  129.000000      3
Boston         109.750000   97.250000      4
Philadelphia   127.500000  123.500000      4
New York City  127.000000  117.000000      5